.DS_Store
Practica 03/__pycache__
Practica 04/.ipynb_checkpoints
Practica 03/.ipynb_checkpoints
Practica 02/.ipynb_checkpoints
Practica 01/.ipynb_checkpoints
Practica05/.ipynb_checkpoints
Practica05/RedEdgeCompact/*
